aiogram==2.13
aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
CacheControl==0.12.6
cachy==0.3.0
certifi @ file:///C:/Users/Baxtiyor/AppData/Local/pypoetry/Cache/artifacts/cd/2c/dc/e5bfda594e18f3f1e9af9f11e13581014d821425f325f3220b3ed2c337/certifi-2021.5.30-py2.py3-none-any.whl
chardet==4.0.0
cleo==0.8.1
click==7.1.2
clikit==0.6.2
crashtest==0.3.1
distlib==0.3.2
filelock==3.0.12
h11==0.12.0
html5lib==1.1
idna==2.10
isort==5.8.0
keyring==21.8.0
lockfile==0.12.2
msgpack==1.0.2
multidict==5.1.0
packaging==20.9
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.7.0
poetry==1.1.6
poetry-core==1.0.3
ptyprocess==0.7.0
pydantic==1.8.2
pylev==1.4.0
pyparsing==2.4.7
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
requests-toolbelt==0.9.1
shellingham==1.4.0
tomlkit==0.7.2
typing-extensions==3.10.0.0
urllib3==1.26.5
uvicorn==0.13.4
virtualenv==20.4.7
webencodings==0.5.1
yarl==1.6.3

mysql-connector-python~=8.0.25